body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#datetime {
    font-size: 2em; /* Tamaño más grande para la fecha y hora */
    margin-bottom: 20px;
}

h1 {
    font-size: 3.5em; /* Tamaño más grande para el título */
}

#timer {
    margin: 20px 0;
}

#time {
    font-size: 4em; /* Tamaño más grande para el temporizador */
    font-weight: bold;
}

#timer-controls button,
#timer-options button {
    font-size: 2em; /* Tamaño más grande para los botones */
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#timer-controls button:hover,
#timer-options button:hover {
    background-color: #0056b3;
}
